{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}
{% block style %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card">
            <div class="card-body">
                <h2 class="mb-4">Sign Up</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="mb-3">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="invalid-feedback">
                                {{ form.username.errors|first }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="invalid-feedback">
                                {{ form.email.errors|first }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <div class="invalid-feedback">
                                {{ form.password1.errors|first }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            <div class="invalid-feedback">
                                {{ form.password2.errors|first }}
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}